.logo{
    width: 45%;
    text-align: center;
    line-height: 0.01em;
    margin-top: -5em;

}
h1{
    font-family: 'AIGDT';
    font-style: oblique;
    font-size: 13vh;
    margin-top: 0;
}

h2{
    font-family: 'Arial';
    font-style: oblique;
    font-size: 4vh;
    margin-left: 1em;
}