main{
    align-items: center;
}


h1{
    font-family: Arial;
    font-size: 8vh;
}

main>button{
    border: 1px solid grey;
    border-radius: 1em;
    text-align: center;
    letter-spacing: 0.72px;
    color: black;
    padding: 1em;
    margin: 1em auto;
    width: 40%;
}